// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    width: 40%;
    height: 10%;
    margin: auto;
    //background: url(/app/assets/images/background9.jpg);
    background-color: whitesmoke; 

    font-family: sans-serif;
    line-height: 1.5;
    color: black;
}